*{
	margin:0;
	padding:0;
}
body {
	background: url('../img/o.png');
	background-repeat: no-repeat;
}
#contenedor {
	width:1200px;
	height:700px;
	margin:0 auto;

}
#encabezado {
	height:100px;
	
	
}
#titulo {
	background-image: url('../img/midas.png');
	height:50px;
	width:350px;
	;
	float: left;
}
#menuh {
	
	width:750px;
	float:right;
	margin-top:30px;
}
#menuh ul li {
	width:100px;
	text-align: center;
	color: white;
	
	float: left;
	margin-right:15px;
}
#menuh ul li:hover{
	background-color:white;
	
}
#menuh ul li a:hover{
	color:black;
}
#menuh ul li a {
	text-decoration:none;
	color:white;
	font-weight: bold;
	font-style:cooper black;
}
#btnlogin {
	background-color:green;
	
}
#cuerpo {
	height:600px;
	
}
#pie {
	height:20px;
	
	text-align: center;
	color:white;
}