img {
	width:200px;
}
#menufoto {
	width:200px;
	padding:5px;
	background-color:white;
	box-shadow:3px 3px 6px white;
	border-radius:10px;
	float: left;
	margin-right:20px;
	margin-bottom:20px;
	text-align:center;
	font-weight: bold;
}
#menufoto:hover{
	background-color:red;
}